html{
	height: 100%;
}

body {
	text-align:left;

	background: #ECE9E6;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	font-family: “Segoe UI”,”Arial”,”Times New Roman”;
	font-size: 14px;
	margin:0;
	padding:0;
	height:100%;
}

* {
	list-style:none; 
	padding:0px;
	margin:0px;
}

#geral{
  position:absolute;
	height:100%;
	width:100%;
	margin:auto;
	border: 2px solid rgb(0, 0, 0);
	
}

header {
	text-align: center;
	margin: 0.5%;
	height: 0%;
}

footer {
	height: 4%;
	text-align: center;
	margin: 0.5%;
	color: blanchedalmond;
	background-color: rgb(73, 73, 73);
}
*{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	
}
