#corpo_rel {
	height: 77%;
	border: 0px solid black;
}

legend {
	text-align: center;
	border: 0px solid black;
}

table, th, td {
	width: 100%;
	border: 0;
	border-collapse: collapse;
}

#tabela {
	font-family: Arial, Helvetica, sans-serif;    
	width: 100%;
	border-collapse: collapse;
	border: 0;
	padding: 8px;
}

#tabela tr:nth-child(even){background-color: #f2f2f2;}

#tabela tr:hover {background-color: #ddd;}

#tabela th {
padding-top: 3px;
padding-bottom: 3px;
text-align: left;
background-color: #a7eff1;
color: black;
}

#thead {
	border: 1px solid black;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
	background-color: rgb(236, 230, 228);
}

#btn_confirmar {
	width:90;
	height:10;
	size: 70;
}

#edit_cod_ini, #edit_cod_fim {
	width: 20%;
}

#edit_atv_ini, #edit_atv_fim, #edit_sex_ini, #edit_sex_fim {
	width: 20%;
	text-align: center;
}

#edit_aut_ini, #edit_aut_fim, #edit_edt_ini, #edit_edt_fim {
	width: 20%;
}

#edit_liv_ini{
	width: 60%;
}

#filtros {
	height: 6%;
	padding-top: 0.3%;
	margin: 0.5%;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 16;
}

#btn_executar {
	font-weight: 200;
	font-size: 12;
}
